body {
    height: 100vh;
    width: 100vw;
}
.container {
    display: flex;
    align-items: center;
    justify-content: center;
    flex-direction: column;
}

.title {
    font-family: "Broken Console", sans-serif;
    color: #40128b;
    text-shadow: -2px 2px #fff;
}

.gameboy{
    border-radius: 10px 10px 40px 10px;
    padding: 20px;
    background-color: #cdcdcd;
    box-shadow: inset 4px 4px 2px #fff;
}
.screen-container {
    border: 5px solid black;
    width: 350px;
    aspect-ratio: 1/1;
    height: auto;
    background-color: #555b68;
    border-radius: 5px 5px 20px 5px;
    position: relative;
}
.screen {
    position: absolute;
    background-image: url("/img/background.jpg");
    border: 5px solid black;
    width: 75%;
    aspect-ratio: 1/1;
    height: auto;
    background-position: center;
    background-size: cover;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
    border-radius: 5px;
    display: flex;
    justify-content: center;
    align-items: center;
    flex-direction: column;
    box-shadow: inset 4px 4px 15px #fff;
}

.screen-text{
    font-family: "Broken Console", sans-serif;
    color: #40128b;
    text-shadow: -1px 1px #fff;
    font-size: 12px;
}

ul, li{
    padding-left: 0 !important;
    list-style: none;
}


.green-dot-socket {
    position: absolute;
    width: 24px;
    height: 24px;
    background-color: #000;
    top: 50%;
    left: 7%;
    transform: translate(-50%, -50%);
    border-radius: 50%;
}
.green-dot {
    position: absolute;
    width: 16px;
    height: 16px;
    border-radius: 50%;
    background-color: greenyellow;
    z-index: 2;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
    animation: blinker 2s linear infinite;
}

@keyframes blinker {
    50% {
        opacity: 0;
    }
}


.control-container {
    width: 100%;
    height: 200px;
}

.control-wrapper {
    position: relative;
}

.control-btn {
    position: absolute;
    width: 40px;
    height: 40px;
    background-color: #303030;
    border: 5px solid black;
    border-radius: 5px;
}

#up {
    top: 10px;
    left: 55px;
    border-bottom-width: 0px;
    box-shadow: inset 3px 3px 1px #fff;
}
#right {
    top: 45px;
    left: 90px;
    border-left-width: 0px;
    box-shadow: inset 0px 3px 1px #fff;
}
#down {
    top: 80px;
    left: 55px;
    border-top-width: 0px;
    box-shadow: inset 3px 0px 1px #fff;
}
#left {
    top: 45px;
    left: 20px;
    border-right-width: 0px;
    box-shadow: inset 3px 4px 1px #fff;
}

#center {
    top: 45px;
    left: 55px;
    border: 0;
}
#center .center-dot {
    position: absolute;
    top: 50%;
    left: 50%;
    width: 16px;
    height: 16px;
    border-radius: 50%;
    border: 4px solid black;
    transform: translate(-50%, -50%);
    box-shadow: inset 1px 2px 1px #fff;
}

.button-wrapper {
    position: relative;
}

.red-button {
    position: absolute;
    /* border:4px solid black; */
    border-radius: 50%;
    width: 50px;
    height: 50px;
    /* background-color: #c02379;
    box-shadow: 2px 4px #000; */

    border: 2px solid #000;
    /* border-radius: 12px; */
    cursor: pointer;
    background-color: #c02379;
    box-shadow: 3px 4px #000;
    transition: 0.1s ease;
    box-shadow: inset 3px 4px 2px #fff;
}

.red-button:hover{
    cursor: url(data:image/png;base64,iVBORw0KGgoAAAANSUhEUgAAACAAAAAgCAYAAABzenr0AAAAzElEQVRYR+2X0Q6AIAhF5f8/2jYXZkwEjNSVvVUjDpcrGgT7FUkI2D9xRfQETwNIiWO85wfINfQUEyxBG2ArsLwC0jioGt5zFcwF4OYDPi/mBYKm4t0U8ATgRm3ThFoAqkhNgWkA0jJLvaOVSs7j3qMnSgXWBMiWPXe94QqMBMBc1VZIvaTu5u5pQewq0EqNZvIEMCmxAawK0DNkay9QmfFNAJUXfgGgUkLaE7j/h8fnASkxHTz0DGIBMCnBeeM7AArpUd3mz2x3C7wADglA8BcWMZhZAAAAAElFTkSuQmCC) 14 0,pointer;
}

.red-button:active {
    background-color: #c02379;
    box-shadow: 0 2px #000;
    border: 2px solid #000;
    transform: translateY(4px);
    color: #2e2134;
    transition: 0.1s ease;
}

#btn-logout{
    font-family: 'Broken Console', sans-serif !important;
    position: absolute;
    z-index: 5;
    top: 5px;
    right: 5px;
    font-size: 14px;
    height: 30px;
    padding: 0 6px;
}

#button-a {
    top: 15px;
    left: 70%;
    transform: translate(-50%);
}

#button-b {
    top: 60px;
    left: 35%;
    transform: translate(-50%);
}
.history-wrapper{
    position: relative;
}
.gray-button{
    position: absolute;
    border-radius: 10px;
    border: 4px solid black;
    width: 50px;
    height: 20px;
    transform: rotate(-30deg);
    background-color: #808080;
    box-shadow: inset 2px 3px 2px #fff;
}

.gray-button:hover{
    cursor: url(data:image/png;base64,iVBORw0KGgoAAAANSUhEUgAAACAAAAAgCAYAAABzenr0AAAAzElEQVRYR+2X0Q6AIAhF5f8/2jYXZkwEjNSVvVUjDpcrGgT7FUkI2D9xRfQETwNIiWO85wfINfQUEyxBG2ArsLwC0jioGt5zFcwF4OYDPi/mBYKm4t0U8ATgRm3ThFoAqkhNgWkA0jJLvaOVSs7j3qMnSgXWBMiWPXe94QqMBMBc1VZIvaTu5u5pQewq0EqNZvIEMCmxAawK0DNkay9QmfFNAJUXfgGgUkLaE7j/h8fnASkxHTz0DGIBMCnBeeM7AArpUd3mz2x3C7wADglA8BcWMZhZAAAAAElFTkSuQmCC) 14 0,pointer;
}

.gray-button:active {
    background-color: #808080;
    box-shadow: 0 2px #000;
    border: 2px solid #000;
    transform: translateY(4px) rotate(-30deg);
    color: #2e2134;
    transition: 0.1s ease;
}

#history-button{
    top: 140px;
    left: 120px;
}

#history-text{
    position: absolute;
    top: 163px;
    left: 136px;
    font-family: 'Broken Console', sans-serif !important;
    transform: rotate(-30deg);
    color: #3c3f89;
    font-size: 10px;
}

.nes-input {
    width: 200px;
    border-image-repeat: stretch !important;
    background-clip: unset !important;
    border-width: 6px !important;
    height: 30px;
}

.nes-dialog.is-rounded,
.nes-btn,
.nes-textarea {
    border-image-repeat: stretch !important;
}


@media screen and (max-width:576px) {
    .gameboy{
        width: 100%;
    }
    .screen-container {
        border: 5px solid black;
        width: 100%;
        aspect-ratio: 1/1;
        height: auto;
        background-color: #555b68;
        border-radius: 5px 5px 20px 5px;
        position: relative;
        /* display: flex;
        align-items: center;
        justify-content: space-evenly; */
    }
    
    .screen {
        position: absolute;
        background-image: url("/img/background.jpg");
        border: 5px solid black;
        width: 75%;
        aspect-ratio: 1/1;
        height: auto;
        background-position: center;
        background-size: cover;
        top: 50%;
        left: 50%;
        transform: translate(-50%, -50%);
        border-radius: 5px;
        display: flex;
        justify-content: center;
        align-items: center;
        flex-direction: column;
    }
}
